<% layout("template") %>
<main class="mb-5">
  <!--
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/images/shopify_20_hero.png" alt="shopify_20_hero" class="d-block w-100">
        <div class="carousel-caption d-block text-black top-50">
          <h1 class = "mt-5">Your items have importance and value.</h1>
          <h5 class="mt-3">We provide a marketplace where you can buy and sell products.</h5>
          <a href = "/marketplace" class="btn btn-primary text-decoration-none text-white mt-3" role="button">Browse Marketplace</a>
        </div>
      </div>
    </div>
  </div>
  -->

  
  <div class="d-flex flex-column py-5 w-100 bg-dark" style="background-size: cover; background-repeat: no-repeat; background-position: center">
    <div class="d-flex flex-column container align-items-center py-5 text-white">
      <h1 class="text-center">Your items have importance and value.</h1>
      <h5 class="text-center">We provide a marketplace where you can buy and sell products.</h5>
      <a href = "/marketplace" class="btn btn-primary text-decoration-none text-white mt-3" role="button">Browse Marketplace</a>
    </div>
  </div>
  
</main>