<% layout("template") %>
<main class="mb-5">
  <div class="d-flex flex-column py-5 w-100 bg-dark" style="background-size: cover; background-repeat: no-repeat; background-position: center">
    <div class="d-flex flex-column container align-items-center py-5 text-white">
      <h1 class="text-center">Your items have importance and value.</h1>
      <h5 class="text-center">We provide a marketplace where you can buy and sell products.</h5>
      <a href = "/marketplace" class="btn btn-primary text-decoration-none text-white mt-3" role="button">Browse Marketplace</a>
    </div>
  </div>

  <div class="container d-flex flex-column align-items-center p-5 mt-5 bg-dark text-white">
    <h2> Selling is easy as 1,2,3! </h2>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3 row-cols-1 g-4 mt-3">
      <div class = "col">
        <div class="card h-100 text-white" style="background-color: #343A40">
            <div class="card-body">
              <h4 class="card-title">Step 1</h4>
              <h5 class="card-text">Create/Login to a SellMe account.</h5>
            </div>
        </div>
      </div>

      <div class = "col">
        <div class="card h-100 text-white" style="background-color: #343A40">
            <div class="card-body">
              <h4 class="card-title">Step 2</h4>
              <h5 class="card-text">Create a new listing for your item.</h5>
            </div>
        </div>
      </div>

      <div class = "col">
        <div class="card h-100 text-white" style="background-color: #343A40">
            <div class="card-body">
              <h4 class="card-title">Step 3</h4>
              <h5 class="card-text">Wait for a buyer to purchase your item!</h5>
            </div>
        </div>
      </div>
    </div>

    <h2 class="mt-5"> Buying is easy as 1,2,3! </h2>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3 row-cols-1 g-4 mt-3">
      <div class = "col">
        <div class="card h-100 text-white" style="background-color: #343A40">
            <div class="card-body">
              <h4 class="card-title">Step 1</h4>
              <h5 class="card-text">Create/Login to a SellMe account.</h5>
            </div>
        </div>
      </div>

      <div class = "col">
        <div class="card h-100 text-white" style="background-color: #343A40" >
            <div class="card-body">
              <h4 class="card-title">Step 2</h4>
              <h5 class="card-text">Browse the marketplace for items.</h5>
            </div>
        </div>
      </div>

      <div class = "col">
        <div class="card h-100 text-white" style="background-color: #343A40">
            <div class="card-body">
              <h4 class="card-title">Step 3</h4>
              <h5 class="card-text">Contact the buyer to purchase your item!</h5>
            </div>
        </div>
      </div>
    </div>
  </div>
  
</main>