<% layout("template") %>
<h1> Marketplace Listings </h1>
<ul>
  <% for (let item of items) { %>
      <li><a href = "/marketplace/<%= item._id %>"><%= item.title %></a></li>
  <% } %>
</ul>
<a href = "/">Back to Home</a>